* { margin: 0; padding: 0; box-sizing: border-box; }
.h-100 { height: 100dvh; }
.brand { display: block; }
.brand > span { display: inline-block; font-size: 3rem; font-weight: bold; margin-left: .05rem; }
.brand > span:nth-child(1) { color: rgb(233, 82, 81); }
.brand > span:nth-child(2) { color: rgb(169, 71, 185); }
.brand > span:nth-child(3) { color: rgb(105, 83, 238); }
.brand > span:nth-child(4) { color: rgb(38, 151, 250); }
.brand > span:nth-child(5) { color: rgb(56, 75, 167); }
.brand > span:nth-child(6) { color: rgb(78, 188, 215); }
.brand > span:nth-child(7) { color: rgb(87, 173, 77); }
.brand > span:nth-child(8) { color: rgb(234, 192, 80); }
.brand > span:nth-child(9) { color: rgb(242, 84, 53); }
.brand > span:nth-child(10) { color: rgb(145, 116, 121); transform: rotate(10deg); }
.center { width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.searchbar { margin-top: 1rem; display: flex; justify-content: space-between; align-items: center; width: 50%; height: 2.5rem; border: #000 1px solid; border-radius: 2.5rem; background: #fff; padding: .2rem .6rem; }
.searchbar > .searchbutton { border: none; background: transparent; width: 2.5rem; height: 2.5rem; display: flex; justify-content: center; align-items: center; color: #494949; cursor: pointer; transition: all ease .5s; }
.searchbar > .searchbutton:hover { color: #000; }
.searchbutton > svg { width: 1.5em; height: 1.5em; }
.searchbar > input { width: 100%; height: 100%; background: transparent; outline: none; border: none; padding: .15rem; font-size: 1.075rem; }
.searchbar:has(>input:focus), .searchbar:has(>input:focus) { border: #000 2px solid; }
.searchbar > input:active { outline: none; border: none; }
.searchbar > input:focus { outline: none; border: none; }

@media screen and (max-width: 648px) {
  .brand > span { font-size: 2rem; }
  .searchbar { width: 80%; height: 2rem; }
}
